# Node & Next.js (Frontend)
frontend/node_modules/
frontend/.next/
frontend/.env*
frontend/.env.local

# Python & FastAPI (Backend)
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.venv/
backend/venv/
backend/env/
backend/.env
backend/*.pyc

# Dataset
dataset/
*.csv

# Mac OS System files
.DS_Store
